head{

}

*{

}

body{
	margin: 0;
	padding-left: 18%;
	padding-right: 18%;
	padding-top: 50px;	
	background-image: url(img/background54.png);
	background-color: #663366;

}
.header{
	background-image: linear-gradient(#660099, #000033);
	background-color: #330066;
	width: 100%;
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.5);
	

}
.icon{
	height: 100%;

	padding: 0px;
	background-size: 100%;
	background-repeat: no-repeat;
    background-position: center;
	display: inline-block;
}
.buttonicon{
	
	background-image: linear-gradient(#660099, #000033);
	padding: 0px;
	outline: none !important;
	border: 0 !important;


}

.icon:hover{
	
}

.header:hover {
	 box-shadow: 0 0 28px 0 rgba(2,2,2,2);
	 background-color: #9933cc;
}

.buttonheader{
	
	position: relative;
	float: right;
	display: block;

	/*font-family: Bad Signal, sans-serif;
	text-decoration: none;*/
	
}

.buttonfooter{
	position: relative;
	float: right;
	display: block;
}

.bodycontent{
 	
 	width: 100%;
 	font-family: Bad Signal, sans-serif;
 	font-weight: 200;
 	font-size: 14px;
	background-color: #fff;
	background-image: url(img/background4.png);
 	height: 500px;
 	box-shadow: 0 0 15px 0 rgba(0,0,0,1);


}

.footer{
	
	width: 100%;
	background-image: linear-gradient(#000033, #660099);
	padding-bottom: 50px;
	box-shadow: 0 0 15px 0 rgba(0,0,0,1);
	

}

.footercopyright{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: #fff;
	text-align: right;
	top: 100px;
	position: relative;

	
	

}